* {
  box-sizing: border-box;
}

ul {
  list-style:square;
}

body  {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FFF8F0;
  margin: 0;
}

header {
  background-color: #88cad2;
  padding: 1rem;
  box-shadow: 0px 0.5rem #222A68;
  margin-bottom: 0.5rem;
  text-align: center;
}

.site-nav a {
  padding-right: 1rem;
  font-weight:bold;
  color:#222A68;
  text-align: center;
  justify-content: center;
  display: inline-block;
  background:rgb(209, 241, 252);
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: box-shadow 0.5s, color 0.5s, background 0.5s;
}

.site-nav a:hover{
  color:#F58A07;
  background:#FFF8F0;
  box-shadow: 0.3rem 0.3rem #222A68;
  font-weight:bolder;
}

section {
  margin-top: 2rem auto;
  background: #FFF8F0;
  padding: 24px;
  border-radius: 6px;
}

h1 {
  color: #92140C;
}

footer {
  padding: 24px;
  margin-bottom: 0;
  text-align: center;
  background-color: #88cad2;
}
  
